set number relativenumber
set idearefactormode=keep
set ideajoin
set surround
set commentary
set ReplaceWithRegister

let mapleader = "\"

inoremap jk <Esc>
vnoremap <Enter> <Esc>

nnoremap ; :
vnoremap ; :

nnoremap * *N

nnoremap <space><space> zz
xnoremap <space><space> zz

xnoremap <Tab> >gv
xnoremap <S-tab> <gv

set clipboard+=unnamed

" actions
nnoremap <S-Tab> :action PreviousTab<CR>
nnoremap <Tab> :action NextTab<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap d] :action GotoNextError<CR>
nnoremap K :action ShowErrorDescription<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <C-p> :action SearchEverywhere<CR>
nnoremap <C-w><C-w> :action SelectInProjectView<CR>

set NERDTree
nnoremap <C-t> :NERDTreeToggle<CR>
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

